.navBarCustom {
  margin-right: 1em;
}
.connect-button{
  height: 50px;
}
.fa-metamask {
  content: url("./assets/metamask.svg");
  height: 15px;
  width: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
#page-container {
  position: relative;
  min-height: calc(100vh - 4.5rem);
}

#content-wrap {
  padding-bottom: 3.5rem;    /* superior or equal to Footer height */
}

#footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;            /* Footer height */
}
